<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hundsun.atp.persister.mapper.AtpRefTagUseCaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hundsun.atp.persister.model.AtpRefTagUseCase">
        <id column="id" property="id" />
        <result column="tag_id" property="tagId" />
        <result column="case_id" property="caseId" />
        <result column="project_id" property="projectId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tag_id, case_id, project_id
    </sql>
    <delete id="deleteByCaseId">
        DELETE FROM atp_ref_tag_use_case WHERE case_id = #{caseId};
    </delete>
    <delete id="deleteByTagId">
        delete from atp_ref_tag_use_case where tag_id = #{tagId};
    </delete>
    <select id="selectByTagIds" resultType="com.hundsun.atp.persister.model.AtpRefTagUseCase">
        select * from atp_ref_tag_use_case
        <if test="tagIds != null and tagIds.size() > 0">
            where tag_id in
            <foreach collection="tagIds" item="tagId" open="(" separator="," close=")">
                #{tagId}
            </foreach>
        </if>
        <if test="tagIds == null or tagIds.size() == 0">
            where 1=0 <!-- 返回空结果集 -->
        </if>
    </select>

    <select id="selectTagIdsByCaseId" resultType="java.lang.String">
        SELECT tag_id FROM atp_ref_tag_use_case
        WHERE case_id = #{caseId}
    </select>

</mapper>
