<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hundsun.atp.persister.mapper.AtpUseCaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hundsun.atp.persister.model.AtpUseCase">
        <id column="id" property="id" />
        <result column="case_id" property="caseId" />
        <result column="name" property="name" />
        <result column="folder_id" property="folderId" />
        <result column="check_rule" property="checkRule" />
        <result column="case_type" property="caseType" />
        <result column="execute_config" property="executeConfig" />
        <result column="enabled" property="enabled" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="interface_content" property="interfaceContent" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, case_id, name, folder_id, check_rule, case_type, execute_config, enabled, create_user, create_time, update_user, update_time, interface_content, remark
    </sql>

</mapper>
